/* Loader */

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

@keyframes loaderFadeOut {
  0% {
    opacity: 1;
  }  
  100% {
    opacity: 0;
  }
}


/* Letters */

@keyframes horLine {
    0% {
        width: 0px;
    }
    100% {
        width: 44px;
    }
}

@keyframes horLineE {
    0% {
        width: 0px;
    }
    100% {
        width: 52px;
    }
}

@keyframes verLine {
    0% {
        height: 0px;
    }
    100% {
        height: 160px;
    }
}

  
@keyframes fillCircle{
  0%{
    stroke-dashoffset: 650}

  100%{
    stroke-dashoffset: 0}
  }

  /* Letters Mobile */

  @keyframes horLineMobile{
    0% {
        width: 0px;
    }
    100% {
        width: 22px;
    }
}

@keyframes horLineEMobile {
    0% {
        width: 0px;
    }
    100% {
        width: 32px;
    }
}

@keyframes verLineMobile {
    0% {
        height: 0px;
    }
    100% {
        height: 80px;
    }
}

  
@keyframes fillCircleMobile{
  0%{
    stroke-dashoffset: 650}

  100%{
    stroke-dashoffset: 0}
  }

  /* Nav Lines */

  @keyframes navLineEntrance {
      0% {
        transform: translate(100px);
      }
      100% {
        transform: translate(0);
      }
  }

  /* Slides */

  @keyframes slideFromLeft {
      0%, 80% {
        transform: translate(-20rem);
      }
      100% {
        transform: translate(0);
      }
  } 
  @keyframes slideFromRight {
    0%, 80% {
      transform: translate(20rem);
    }
    100% {
      transform: translate(0px);
    }
} 

@keyframes slideFromTop {
  0%, 80% {
    transform: translateY(-20rem);
  }
  100% {
    transform: translate(0);
  }
} 


@keyframes slideFromBottom {
  0%, 80% {
    transform: translateY(20rem);
  }
  100% {
    transform: translate(0);
  }
} 




  /* Menu, Menu Underline */

  .active::before {
      content: '';
      position: absolute;
      margin-top: 1rem;
      left: 7%;
      width: 0%;
      height: 1.2rem;
      z-index: -1; 
      animation: menuUnderline .6s forwards; 
  }

  @keyframes menuUnderline {
    0% {
      width: 0%;
    }
    100% {
      width: 93%;
    }
  }

  /* Scroll Icon */

  .scroll-icon {
    animation: 2s scrollArrow infinite;
  }

  @keyframes scrollArrow {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(0.7rem);
    }
    0% {
      transform: translateY(0);
    }
  }
